name: Publish

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  publish:
    uses: stoe/policies/.github/workflows/policy-workspaces-publish.yml@main
    permissions:
      contents: read
      packages: write
      id-token: write
    with:
      npm: false
      gh: true
